*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body{
    background-color: #dddddd;
}

.nav-bar{
    color:white;
    text-decoration: none;
}

.reg-form{
    margin: 0 auto;
}



